.container {
    width: 260px;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px 25px;
    justify-content: space-between;
    flex-direction: column;
}
h1{
    font-weight: normal;
    font-size: 18px;
    color: #BBBBBB;
}

.humidity{
    align-items: center;
    span{
        font-weight: 400;
        font-size: 26px;
        margin-left: 5px;
        margin-bottom: 15px;
    }
}

h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
}

.grade{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.scale {
    width: 30px;
    height: 90px;
    border: 1px solid #E3E3E3;
    border-radius: 50px;
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}
.circle{
    width: 18px;
    height: 18px;
    min-height: 18px;
    border-radius: 50px;
    background: #4050D2;
    position: absolute;
    bottom: 6px;
}
