.container{
    width: 500px;
    padding: 40px 40px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    height: 100vh;
    flex-direction: column;
}

.weather-icon{
    width: 400px;
}

.search{
    height: 44px;
    width: 360px;
    border-radius: 50px;
    background: #F3F3F3;
    padding: 10px 18px;
    align-items: center;
    input{
        margin-left: 12px;
        background: none;
        width: 100%;
        border: none;
        font-size: 20px;
    }
    input:focus{
        outline: none;
    }
}

.results{
    margin-top: 10px;
    border-radius: 20px;
    position: fixed;
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    background: #F3F3F3;
    border: 1px solid #000000;
}

.result{
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    h3{
        margin-left: 8px;
    }
}
.city {
    font-weight: 500;
    font-size: 18px;
}

.country{
    font-weight: 400;
    font-size: 18px;
    color: #818181;
}

.result:hover{
    background: #e4e4e4;
}

.home-btn{
    margin-left: auto;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.home-btn:hover{
    background-color: #EEEEEE;
    transform: scale(1.1);
}

.weather-img{
    margin-top: 40px;
}

.temperature{
    h1{
        font-weight: 300;
        font-size: 112px;
        letter-spacing: -0.1em;
        line-height: 90px;
    }
    span{
        font-weight: 400;
        font-size: 64px;
        line-height: 53px;
        margin-left: 3px;
    }
}

.location{
    margin-top: 35px;
    h2{
        font-weight: 500;
        font-size: 36px;
    }
}

.date{
    margin-top: 12px;
    align-items: center;
    .day{
        font-size: 24px;
    }
    .time{
        margin-left: 10px;
        font-weight: 500;
        font-size: 24px;
        color: #BBBBBB;
    }
}
hr{
    margin-top: 25px;
    display: block;
    height: 1px;
    border: 0; 
    border-top: 1px solid #DFDFDF;
    padding: 0; 
}
.features  {
    padding: 25px 0;
}